[submodule "CppQuantLib"]
	path = CppQuantLib
	url = https://github.com/mathieudelehaye/CppQuantLib.git
[submodule "react-next-financial-ui"]
	path = react-next-financial-ui
	url = https://github.com/mathieudelehaye/react-next-financial-ui
[submodule "spring-boot-financial-api"]
	path = spring-boot-financial-api
	url = https://github.com/mathieudelehaye/spring-boot-financial-api
